#body
{
    background-color:#ffffff;
}

#chat
{
    position: fixed;
    top: 10px;
    right:10px;
}

#inputdiv
{
    position:fixed;
    right:5px;
    bottom:10px;
}

#adduser
{
    position:fixed;
    top:120px;
    left:190px;
    background:#ffffff;
    border-radius: 15px;
    padding:20px;
}

#blue
{
    background-image:url('img/blue.png');
}

#orange
{
    background-image:url('img/orange.png');
}

#violet
{
    background-image:url('img/violet.png');
}

#green
{
    background-image:url('img/green.png');
}

.themebutton
{
    background-size:90px 90px;
    background-repeat:no-repeat;
    width:90px;
    height:90px;
}

#cancel
{
    position:fixed;
    top:120px;
    left:385px;
    width:32px;
    height:32px;
}

#output
{
    height:600px;
    width:300px;
    overflow: scroll;
}

#rightarr
{
    position:fixed;
    top:645px;
    left:570px;
}

#leftarr
{
    position:fixed;
    top:645px;
    left:20px;
}

h1
{
    font-family: helvetica, arial, sans-serif;
}

#opt
{
    position:fixed;
    top: 20px;
    left:650px;
}

#options
{
    background:#ffffff;
    padding:10px;
}
