#chat
{
    position: fixed;
    top: 10px;
    right:10px;
}
#inputdiv
{
    position:fixed;
    right:5px;
    bottom:10px;
}
#adduser
{
    position:fixed;
    top:300px;
    left:400px;
    background:#ffffff;
}
